@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    height: 100vh;
    color: hsl(0, 0%, 100%);
}

.main {
    background-color: #212832;
    display: flex;
    border-radius: 15px;
    padding: 30px;
    max-width: 360px;
}

.rating-icon {
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    padding: 15px;
    filter: brightness(110%);
}

.rating-bar {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.rating {
    outline: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.unselected {
    background-color: hsl(213, 19%, 18%);
    filter: brightness(110%);
}

.p1 {
    font-size: 24px;
    font-weight: 700;
}

.p2 {
    font-weight: 400;
}

.rating-submit {
    background-color: hsl(25, 97%, 53%);
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    color: hsl(0, 0%, 100%);    
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.selected {
    background-color: hsl(217, 12%, 63%);
    filter: brightness(110%);
    color: hsl(0, 0%, 100%);    
}

.rating-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
/*- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)
*/

.after-rate {/*
    visibility: hidden;
    display: none;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.thank-you-illustration {
    padding: 20px;
}

.thank-you-p1 {
    background-color: hsl(213, 19%, 18%)    ;
    filter: brightness(110%);
    border-radius: 20px;
    padding: 5px 20px;
    color: hsl(25, 97%, 53%);
    display: flex;
    justify-content: center;
}

.thank-you-p2 {
    font-weight: 700;
    font-size: 24px;
    padding: none;
}

.thank-you-p3 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
}

.hidden {
    visibility: hidden;
    display: none;
}